# =========================
# Environment variables
# =========================
.env
*.env
backend/.env
frontend/.env

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# =========================
# Django
# =========================
db.sqlite3
media/

# =========================
# React / Node
# =========================
node_modules/
dist/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db